{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block page_title %}
Groups
{% endblock %}

{% block page_content %}
<div class="row">
    {% for usergroup in usergroups %}
        {% set group=usergroup.group %}
        <div class="col-sm-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><a href="{{ path('logins', {'groupid': group.id}) }}">{{ group.name }}</a></h3>
                    <div class="box-body">
                        {{ group.description }}

                        <hr>
                        <h4>{% trans %}Group Members{% endtrans %}</h4>
                        <ul class="list-group">
                        {% for user in group.users %}
                            <li class="list-group-item" data-toggle="tooltip" title="{{ user.user.email }}">

                                {% if user.adminAccess %}
                                    <span class="badge">Admin</span>
                                {% endif %}
                                <img src="{{ user.user.avatar }}&s=50" class="img-rounded "/>
                                {{ user.user.name }}</li>
                        {% endfor %}
                        {% if is_granted('admin', group) %}
                        <li class="list-group-item">
                        <a href="{{ path('add_user_group', {'groupid': group.id}) }}"><i class="fa fa-plus"></i> {% trans %}Add User To Group{% endtrans %}</a>
                        </li>
                        {% endif %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    {% endfor %}
    <a class="fab bg-green" href="{{ path('new_group') }}"><i style="" class="fa fa-plus"></i></a>
<style>
    .fab {
        display: inline-block;
        border:none;
        font-size:1.5em;
        color:white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: auto;
        -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
        -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
        box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
        line-height: 50px;
        text-align: center;
        vertical-align: bottom;
    }

</style>
</div>
{% endblock %}