{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block page_title %}
Groups
{% endblock %}

{% block page_content %}
<div class="row">
    {% for usergroup in usergroups %}
        {% set group=usergroup.group %}
        {% if loop.index is odd %}<div class="clearfix"></div>{% endif %}
        <div class="col-sm-6 ">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><a href="{{ path('logins', {'groupid': group.id}) }}">{{ group.name }}</a></h3>
                    {% if is_granted('admin', group) %}
                    <div class="box-tools pull-right">
                        <a href="{{ path('edit_group', {'id': group.id}) }}"><i class="fa fa-edit"></i></a>
                    </div>
                    {% endif %}
                    <div class="box-body">
                        {{ group.description }}
                        <h3>{% trans %}Members{% endtrans %}</h3>
                        <ul class="list-group">
                        {% for user in group.users %}
                            <li class="list-group-item" >

                                {% if user.adminAccess %}
                                    <span class="badge">Admin</span>
                                {% endif %}


                                <span data-toggle="tooltip" title="{{ user.user.email }}">
                                <img src="{{ user.user.avatar }}&s=25" class="img-rounded "/>
                                {{ user.user.name }}
                                </span>

                            </li>
                        {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    {% endfor %}
    <a class="fab bg-green" href="{{ path('new_group') }}"><i style="" class="fa fa-plus"></i></a>
</div>
{% endblock %}