{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block page_title %}
Logins
{% endblock %}

{% block page_subtitle %}
{{ group.name }}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-12">

            <div class="row">
                {% for login in group.logins %}
                    {% if loop.index is odd %}<div class="clearfix"></div>{% endif %}
                    <div class="col-sm-6">
                        <div class="info-box" id="login_{{ login.id }}">
                            <span class="info-box-icon {{ login.url | fabrandcolor }}"><i class="fa {{ login.url | fabrand }}"></i></span>
                            <div class="info-box-content">

                                <span class="info-box-text"><a href="{{ path('edit_login', {'loginid': login.id}) }}">{{ login.name }}</a></span>
                                <span class="info-box-more">
                                    <strong>Username:</strong> {{ login.username }}<br/>
                                    <strong>Url:</strong> {{ login.url }}<br/>
                                    <strong>Password:</strong>
                                     <span class="password_hidden password" data-passwordreq="{{ path('ajaxPassword', {'id': login.id})}}">&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;</span>
                                </span>
                                <span class="info-box-more">
                                    {{ login.notes|nl2br }}
                                </span>

                            </div>
                        </div>
                    </div>

                {% endfor %}
                <a class="fab bg-green" href="{{ path('new_login', { 'groupid': group.id }) }}"><i style="" class="fa fa-plus"></i></a>

            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <link type="text/css" rel="stylesheet" href="/fa-colored-icons-v1-1-0/fa-colored-brand-icons.min.css"/>
<style>
    :target {
        animation: highlight 5s ease;
    }

    @keyframes highlight {
        0% { background-color: #ffa; }
        100% { background-color: white; }
    }

    .password_hidden {
        -webkit-text-security: disc;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        filter: blur(3px);
        max-width: 8em;
        overflow: hidden;
        display: inline-block;

    }

    .password {
        font-family: "Courier New", Courier, monospace;
        display: inline-block;
        white-space: nowrap;

    }

    .fa-color-icons {
        background: white !important;
    }

    .fab {
        display: inline-block;
        border:none;
        font-size:1.5em;
        color:white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: auto;
        -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
        -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
        box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
        line-height: 50px;
        text-align: center;
        vertical-align: bottom;
    }

</style>
{% endblock %}

{% block javascripts_inline %}
    {{ parent() }}
    <script>
        $('.password').click(function() {
            if($(this).data('passwordreq')) {
                $.ajax({
                    context: this,
                    type: "GET",
                    url: $(this).data('passwordreq'),
                    dataType: "json",
                    success: function (response) {
                        $(this).html(response);
                        $(this).removeClass('password_hidden');

                        var selection = window.getSelection();
                        var range = document.createRange();
                        range.selectNodeContents(this);
                        selection.removeAllRanges();
                        selection.addRange(range);
                        //add to clipboard.
                        document.execCommand('copy');



                        return true;
                    }
                });
                $(this).removeData('passwordreq').removeAttr('data-passwordreq');

            } else {
                $(this).toggleClass('password_hidden');
            }
        })

    </script>
{% endblock %}