{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}



{% block page_title %}
Login
{% endblock %}

{% block page_content %}
<div class="row">

        <div class="col-sm-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans %}Login{% endtrans %}</h3>
                    <div class="box-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                        <span class="generate_passwords">Generate Passwords</span>
                        <div class="generate_results"></div>
                    </div>

                </div>
            </div>
        </div>


</div>
{% endblock %}

{% block javascripts_inline %}
    {{ parent() }}
    <script>
        $('.generate_passwords').click(function() {

            $.ajax({
                context: this,
                type: "GET",
                url: "{{ path('generateHumanPassword') }}",
                dataType: "html",
                success : function(response)
                {
                    $(this).next('.generate_results').html(response).show();
                    return true;
                }
            });
        });
    </script>
{% endblock %}